* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 1em;
    color: #444443;
    text-align: center;
    line-height: 1.7;
    background-color: #fbfaf7;
  }
  
  header {
    margin: 17px auto;
    text-align: center;
    top: 0;
    color: #5c532d;
    font-family: Garamond;
  }

  h1 {
    font-size: 1.3em;
    font-weight: 500;
    font-style: italic;
  }

  /*  Adjusting the H1 and mobile Nav*/
  .style_open, h1 {
    display:inline-block
  }

  .style_open {
    align-self: right;
    font-size: 1.5em;
    padding-top: 2px;
    color: grey;  
  }

  h2 {
    font-style: italic;
    font-size: 1.1em;
  }

  a:link, a:visited {
    color:#5c532d;
  
  }

a:hover, a:active {
  color:grey;
  }

/* First Burger Menu */
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  ul.menu {
    display: none;
    list-style-type: none;
    align-items: flex-end;
    text-align: right;
    list-style: none;
    overflow: hidden;
   }

  li {
    float: right;
    display: block;
    color: #5c532d;
    text-align: center;
    padding: 5px;
    text-decoration: none;
  }

  /* Hamburger menu END STYLING --> */

  .description1 {
    color: #444443;
    text-align: left;
  }

/* line break in mobile */
  .project1{
    border-top: 1px solid grey;
    margin: 5px auto;
    padding-top: 0%;
    padding: 5%;
    color: #5c532d;
    font-family: Garamond;
    font-size: 1.2em;
  }

  .projectimage {
    border-radius: 4px;
    padding: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  section {
    min-height: 20px;
    padding: 6% 0;
  }

  .connect {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
    list-style: none;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
  }
  
  .button {
    text-align: center;
    color: #5c532d;
    font-family: Garamond;
    font-style: italic;
    font-size: 1.7em;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    background-color: none;
  }

  .project_name {
    font-size: 1.1em;
  }

  .project_des {
    display: block;
    text-align: left;
    line-height: 1.9;
    margin-left: 3%;
    margin-right: 3%;
    font-family: Garamond;
}

.imagepk1 {
  box-shadow: 5px 5px 5px grey;
  border: 2px solid #5c532d;
}

/* I need to make the h4 tag invisible on the screen but still accessible*/
h4 {
    border: 0;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


  @media screen and (min-width:600px) {
  
  body {
    font-size: 1em;
    line-height: 1.5;
    font-weight: lighter;
  }
  
  header {
    width: 100%;
    margin: 17px auto;
    text-align: center;
    color: #5c532d;
    font-size: 1.3em;
  }

  h2 {
    font-style: italic;
    font-size: 1em;
  }

/*remove line in larger screens */
 .project1{
  border-top: 0px solid grey;
  margin: 5px auto;
  padding: 5%;
  
  }

  .imagepk {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  }

  ul.menu {
  display: block;
  margin: 3px auto;
  font-size: .8em;   
  }

  .description1 {  
    column-count: 2;
    height: auto;
    column-fill: balance;
    }

/* Contact links in the footer of the site Specific CSS */
  .connect {
    padding-left:  30%;
    padding-right:  30%;
  }

  .navbar, h1 {
    display:inline-block;
    }

    .navbar{
      display:inline-block;
      text-shadow: 2px 2px 2px #c5c4c0;
      }


    .projectimage {
      border-radius: 4px;
      padding: 5px;
      width: 30%;
      margin-left: auto;
      margin-right: auto;
    }


  }