* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 1em;
    color: #444443;
    text-align: center;
    line-height: 2;
    background-color: #fbfaf7;
  }
  
  header {
    margin: 17px auto;
    text-align: center;
    top: 0;
    color: #5c532d;
    font-family: Garamond;
    font-size: .7em;
  }

  h2 {
    font-style: italic;
    font-size: 1.5em;
  }

  a:link, a:visited {
color:#5c532d;
text-decoration: none;
}

a:hover, a:active {
  color:grey;
  text-decoration: none;
}

/* Burger Menu */
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  .hamburger {
    width: 100%;
    margin: 30px auto;
    text-align: right;
    color: grey;
  }

  ul.menu {
    display: none;
    list-style-type: none;
    align-items: flex-end;
    text-align: right;
    list-style: none;
    overflow: hidden;
   }

   li {
    float: right;
    display: block;
    color: #5c532d;
    text-align: center;
    padding: 5px;
    text-decoration: none;
  }

  /* Hamburger menu END STYLING -->


 /*<!-- Hamburger menu END STYLING */


   .description1 {
    color: #444443;
    text-align: left;
  }

  
/* line break in mobile */
  .project1{
    border-top: 1px solid grey;
    margin: 5px auto;
    padding: 5%;
    color: #5c532d;
    font-family: Garamond;
  }

  .projectimage {
    border-radius: 4px;
    padding: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  section {
    min-height: 20px;
    padding: 6% 0;
    
  }

  .connect {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
    list-style: none;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
  }
  

/*BEGINNING OF BURGER CSS*/


  
/* THE END OF THE BURGER CSS*/

/* Read More*/

#more {
  display: none;
}

  @media screen and (min-width:600px) {
  
  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 1em;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  
  header {
    width: 100%;
    margin: 17px auto;
    text-align: center;
    top: 0;
    color: #5c532d;
    font-family: Garamond;
    font-size: 1.3em;
  }
  
  h2 {
    font-style: italic;
    font-size: 1em;
  }

  /*remove hamburger in larger screens */
    .hamburger{
    display:none;
  }

 /*remove line in larger screens */
 .project1{
  border-top: 0px solid grey;
  margin: 5px auto;
  padding: 5%;
  }

  .imagepk {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  }

  ul.menu {
  display: block;
  margin: 3px auto;
  font-size: .8em;   
  }

  .description1 {
    margin-left: 10%;
    margin-right: 10%;    
    column-count: 2;
    column-gap: 5%
  }
/* Contact links in the footer of the site Specific CSS */
  .connect {
    padding-left:  30%;
    padding-right:  30%;
  }

  }