
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color:#181817;
  overflow-x: hidden;
  transition: 0.5s;
  font-size:auto;
  cursor: pointer;
}

.overlay-content {
  position: relative;
  text-align: center;
  margin-top: -25px;
  cursor: pointer;
}

/* managed font size*/
.overlay a {
  padding: 5px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-size: .9em;
  cursor: pointer;
  font-family: 'Lucida Sans', sans-serif;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
  cursor: pointer;
}
/* The X that closes the nav menu*/
.overlay .closebtn {
  position: auto;

  font-size: 5em;
  cursor: pointer;
}

.style_open {
  cursor: pointer;
}



  @media screen and (min-width:600px) {
  
    .overlay {
      display:none;
    }
    
    .overlay-content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }
    
    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    .overlay a:hover, .overlay a:focus {
      color: #f1f1f1;
    }
    
    .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
    }

    .style_open {
      display:none;
    }
}